# Deploy docker
DB_HOST=patient-mysql-do-user-23597239-0.g.db.ondigitalocean.com
DB_PORT=25060
DB_USER=doadmin
DB_PASS=your_password_here
DB_NAME=defaultdb

# Development
# DB_HOST=localhost
# DB_PORT=3306
# DB_USER=root
# DB_PASS=root
# DB_NAME=PatientDB